* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    outline: none;
}

:root {
    --bg-color: #fff;
    --text-color: #221314;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --accent-color: #d2bb54;
    --big-font: 6rem;
    --h2-font: 2.3em;
    --p-font: 1.1rem;
}

body {
    background: linear-gradient(40deg, #e9c877, #4a97df);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    transition: 0.4s ease;
    background: url('images/background.jpg');
    background-size: cover;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

section {
    padding: 100px 10%;
}

/* FOR VIDEO */
.media-section {
    text-align: center;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    max-width: 100%;
    height: 300px;
}

.caption {
    font-size: 0.9rem;
    color: black;
    text-align: center;
    margin-top: 5px;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bg-color); /* Optional: Set color if using text fallback */
}

.logo img {
    height: 152px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and menu icon */
}

/* NAVIGATION BAR */
#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
}

.navbar {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #f5b546;
    border-radius: 20px;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #0b0b0b;
    font-weight: bold;
    transition:0.3s, color 0.3s;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: brown;
    color: #fff;
}

/* Submenu Styles */
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: brown;
    border-radius: 20px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.submenu li {
    width: 110px;
    text-align: center;
    width: auto;
}

.submenu a {
    padding: 10px 20px;
    color: #fff;
    font-weight: normal;
}

.submenu a:hover {
    background-color: #f5b546;
    border-radius: 5px;
}

/* Show submenu on hover */
.navbar li:hover > .submenu {
    display: block;
}

/* Responsive Menu */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar li {
        width: 100%;
    }

    .navbar a {
        width: 100%;
        padding: 10px 20px;
    }

    .navbar.active {
        display: flex;
    }

    .submenu {
        position: static;
        box-shadow: none;
    }

    .submenu a {
        padding-left: 40px; /* Indent submenu items */
    }
}

/* INDEX (HOME) */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('images/background.jpg') center center no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
}

.home-text {
    text-align: center;
    color: var(--bg-color);
    background: rgba(0, 0, 0, 0.5);
    padding: 48px 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #ffffff solid 3px;
}

.home-text h1 {
    font-size: var(--h2-font);
    color: white;
    line-height: 1.2;
    background: linear-gradient(40deg, #FCD106, black, #CE1126);
    font-style: oblique;
    font-family: "forte forward";
    letter-spacing: 4px;
    margin-bottom: 25px;
    padding: 10px 25px; /* Added padding for better shape */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 30px; /* Reduced border-radius for a smoother shape */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
    border: #ffffff solid 3px;
}

.home-text h1:hover {
    transform: scale(1.15);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Added subtle box-shadow on hover */
}

.home-text p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 30px;
}

.home-btn {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    color: black;
    background-color: rgb(255, 255, 208);
    text-decoration: none;
    border-radius: 20px;
    transition: 0.4s ease, transform 0.4s ease;
}

.home-btn:hover {
    background: var(--accent-color);
    color: var(--text-color);
    transform: scale(1.1);
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* HISTORY */
.history {
    background: linear-gradient(40deg, #e9c877, #4a97df);
}

.history-container {
    max-width: 900px;
    margin: auto;
    padding: 60px;
    background-color: #ffd677;
    border: #ffffff solid 10px;
    border-radius: 20px;
}

.history-content {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Adjust spacing between columns */
    text-align: justify;
}

.history-text {
    flex: 1;
    margin-right: 20px;
}

.history-section {
    margin-bottom: 30px;
}

.history-boyan{
    text-align: center;
}

.history-subtitle {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 10px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px
}

.location-image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 80%;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: #0b0b0b solid 5px;
}

.read-more-btn {
    background-color: #4a97df;
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 25px;
    margin-top: 10px;
}

.read-more-btn:hover {
    background-color: #6eb1f4;
}

.read-more-btn:focus {
    outline: none;
}

.read-more-content {
    display: none;
    margin-top: 20px;
}

.read-more-content.show {
    display: block;
}

@media (max-width: 768px) {
    .history-content {
        flex-direction: column;
    }

    .history-text {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* ABOUT */
.about {
    background: linear-gradient(40deg, #e9c877, #4a97df);
    padding: 50px 0;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-item {
    background-color: #f2fbff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border: #0b0b0b solid 3px;
    text-align: justify;
}

.about-item h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.about-item img {
    max-width: 40%; /* Adjust to desired width */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

.about-item p {
    line-height: 1.6;
    color: black;
}

.about-item > div {
    margin-top: 20px;
}

.about-item h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container {
    width: 293px;
    height: 200px;
    perspective: 800px;
}

.container:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-size: cover;
    background-position: center;
}

#container1 .front {
    background-image: url(images/raya.png);
}

#container2 .front {
    background-image: url(images/gawai.jpg);
}

#container3 .front {
    background-image: url(images/carving.jpg);
}

#container4 .front {
    background-image: url(images/pottery.png);
}

#container5 .front {
    background-image: url(images/zapin.jpg);
}

#container6 .front {
    background-image: url(images/paraga.jpg);
}

.back {
    background-color: burlywood;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 20px;
    padding-top: 35px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {     
    .about-item {
        padding: 20px;
    }

    .about-item h2 {
        font-size: 20px;
    }

    .about-item h3 {
        font-size: 16px;
    }
}

/* ATTRACTIONS */
.attractions {
    background: linear-gradient(40deg, #e9c877, #4a97df);
    padding: 50px 0;
}

.attractions-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.attractions-item {
    background-color: #f2fbff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border: #0b0b0b solid 3px;
    text-align: justify;
}

.attractions-item h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
    text-align: center;
}

.attractions-item img {
    max-width: 40%; /* Adjust to desired width */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

.attractions-item p {
    line-height: 1.6;
    color: black;
}

.attractions-item > div {
    margin-top: 20px;
}

.attractions-item h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

a.ticket-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

a.ticket-button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: #ddd solid 1px;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f5b546;
}

/* Media queries for responsive design */
@media (max-width: 768px) {     
    .attractions-item {
        padding: 20px;
    }

    .attractions-item h2 {
        font-size: 20px;
    }

    .attractions-item h3 {
        font-size: 16px;
    }
}

/* FACILITIES */
.facilities {
    background: linear-gradient(40deg, #e9c877, #4a97df);
    padding: 50px 0;
}

.facilities-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.facilities-item {
    background-color: #f2fbff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    border: #0b0b0b solid 3px;
    text-align: justify;
}

.facilities-item img {
    max-width: 40%; /* Adjust to desired width */
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Center the image and add bottom margin */
}

.facilities-item p {
    line-height: 1.6;
    color: black;
}

.facilities-item > div {
    margin-top: 20px;
}

.facilities-item h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {     
    .facilities-item {
        padding: 20px;
    }

    .facilities-item h3 {
        font-size: 16px;
    }
}

/* GALLERY */
.gallery {
    background: linear-gradient(40deg, #e9c877, #4a97df);
    text-align: center;
}

.gallery-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px;
    background-color: #ffd677;
    border: #ffffff solid 10px;
    border-radius: 30px;
}

.gallery h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #000000;
}

.gallery p {
    font-size: 20px;
    margin-bottom: 40px;
    color: #0e0d0d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%; /* Ensures the image fills its container */
    height: 100%; /* Ensures the image maintains its aspect ratio */
    display: block;
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-item-description {
    opacity: 1;
}

/* FAQ */
.faq {
    padding: 50px 20px; 
    background: #f6eee1;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
    border: #060606 solid 3px;
}

.faq .section-title {
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    color: #3d3939;
    margin-bottom: 30px;
    font-size: 36px;
}

.faq input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: #4a97df solid 2px;
    border-radius: 5px;
    font-size: 16px;
}

.faq-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.faq-table th, .faq-table td {
    border: #ddd solid 1px;
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.faq-table th {
    background-color: #4a97df;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.faq-table th:hover {
    background-color: #3b7cbf;
}

.faq-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.faq-table tr:hover {
    background-color: #f1f1f1;
}

.faq-table .collapsible-content {
    display: none;
    animation: slideDown 0.5s ease-in-out;
}

.faq-table .collapsible-content.open {
    display: table-row;
}

.faq-table .collapsible-icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.faq-table .collapsible-icon.open {
    transform: rotate(90deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 500px;
        opacity: 1;
    }
}

/* FOOTER */
footer {
    background: #d79742;
    color: #030303;
    margin: auto;
    padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr)); /* Adjusted grid columns */
    gap: 20px;
}

.footer-content div {
    margin-bottom: 10px;
}

.footer-links h2, .footer-info h2, .footer-social h2, .footer-review h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    font-size: 14px;
}

.footer-info p {
    margin-bottom: 8px;
}

.footer-social .social-icons {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.footer-social .social-icons a {
    font-size: 30px;
    margin-top: auto;
}

.footer-bottom {
    padding: 10px 0;
    font-size: 15px;
}

.review-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%;
    width: 100vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: maroon;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #f5b546;
}

/* WEBMASTER */
#students img {
    float: left;
}

/* LOADER STYLES */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
}

.loader div {
    width: 10px;
    height: 50px;
    margin: 3px;
    background-color: #ffd700;
    animation: loader 1.2s infinite ease-in-out;
}

.loader div:nth-child(1) {
    animation-delay: -1.1s;
}

.loader div:nth-child(2) {
    animation-delay: -1.0s;
}

.loader div:nth-child(3) {
    animation-delay: -0.9s;
}

.loader div:nth-child(4) {
    animation-delay: -0.8s;
}

.loader div:nth-child(5) {
    animation-delay: -0.7s;
}

@keyframes loader {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}

/* Hide loader after page load */
body.loaded .loader {   
    display: none;
}

/* Scroll Button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: brown; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: #ffd700;
}