* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    outline: none;
}

body {
    background: url(images/background.jpg) center center no-repeat fixed;
    background-size: cover;
}

.confirmation-message {
    font-size: 100px;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    padding: 200px 0;
    color: white;
}